# Dependency directory
node_modules/

# IntelliJ IDE directory
.idea/

# Logs
logs
*.log
npm-debug.log*

# Webpack build directory
public/build/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db